<div class="docs-banner" style="display:none">
  <!-- the default banner placeholder. Displayed in case the banners.html file cannot be loaded.
       Or something else goes wrong... -->
  <blockquote>
    <p style="margin-bottom: 20px;">
      We are always looking for people who want to support Operaton.
    </p>
    <p>
      If you are a developer, have a look at the <a href="https://github.com/operaton/operaton/blob/main/CONTRIBUTING.md">Contributions Guidelines</a> and the <a href="https://github.com/operaton/operaton/issues">Issues</a> in our repo. Maybe there's something for you.
    </p>
    <p>
      If you would like to support us in other ways, please have a look at our <a href="https://forum.operaton.org">forum</a>.
    </p>
  </blockquote>
</div>
